
<center> <h1 style="background-color:orange; color:white"><br>Python Python Everywhere<br></h1></center>

# `What you can do with Python?`
<h1>fields where you can use Python with Libraries & Frameworks</h1>

|OpenCV| Web Scrapping | Machine Learning | Automation Testing | Web Development | Game Devlopment |
| --- | --- | --- | --- | --- | --- |
|* Sciki-image |* Selenium |* Pandas |* PyUnit |* Flask |* Pand3d
|* OpenCV |* Beautiful Soup|* Numpy |* PyTest |* Django |* Arcade
|* Pillow |* Requests|* Matplotlib |* Behave |* Web2Py |* PyGlet
|* Mahotas |* Lxml|* Seaborn |* Robot |* Cheerypy |* PyOpenGl
|* SimpleITK|* Scrapy |* Scikit-learn |* Splinter |* Bottle|* PyGame
|*** |*** |* Scipy |*** |* Pyramid |***
|*** |*** |* Keras |*** |* CubicWeb |***
|*** |*** |* TensorFlow |*** |* Dash |***
|*** |*** |* PyTorch |*** |* Falcon |***
|*** |*** |* Theano |*** |* TurboGears |***

ðŸ“Œ In above table you can see fields like `OpenCV`, `Web Scrapping`, **`Machine Learning`**, `Automation Testing`, `Web Development`, `Game Development`, these are the all field where you can use Python. <br>
Yes application of Python are huge and wide <br>

<center><h5 style="background-color:orange;"><br>Important Libraries for ML and Data Science<br></h5></center>

ðŸ“Œ These are the must know libraryies
* **`Numpy`** - Efficient n-dimensional arrays, Linear Algebra, Random Number capabilities
* **`Scipy`** - Scientifiv computing tools like Calculus, Signal Processing
* **`Pandas`** - Data Reading(multiple formats), manipulation and Cleaning in python
* **`Seaborn`** - Built on top of Matplotlib, provides a high-level interface for drawing attractive and informative charts
* **`Matplotlib`** - Fundamental library for Data Visualization
* **`StatsModel`** - Statistical models, Statical tests, Statical data exploration
* **`Scikit-learn`** - Basic Data Preprocessing, Machine Learning Library

### **`NOTE: REVISE Previous Python Videos And Watch Videos in The Portal Whenever Suggested in The Assignment`**

<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Hi, there<br></h3>

In [ ]:
# What is your name! Want to print your name!
print('Hi [Devika Lahari] welcome....')
print('Hi [Devika Lahari] welcome....')

Hi [Devika Lahari] welcome....
Hi [Devika Lahari] welcome....

* `()` <= `Parentheses`
* `''` <= `Single Quotes`
* `""` <= `Double Quotes`
* `\n` <= `New_line `
* `#` <= `Used to comment inside code`

In [ ]:
print('Hi [Devika Lahari] welcome.... \nHi [Devika Lahari] welcome....')

Hi [Devika Lahari] welcome....
Hi [Devika Lahari] welcome....

<a id='2'></a><center> <h3 style="background-color:orange; color:white" ><br>Variables<br></h3>

In [ ]:
# define variables named as with values: mukesh 7, z 6, rohan 5, longitude 4,
mukesh =7
xyz=8
z=6
rohan=5
longitude=4

In [ ]:
# print required variable
rohan

5

Variable Assignment:
**`Variable_Name = Value`**

Variables Naming Rules:
* `Python is case-senstive` => x=5 is different from X=5 (one is lowe and other is upper case)
* `var name can't start with special character except underscore(_)` => _X = 7 is `valid`, @X = 7 is `invalid`
* `var name can't start with number` => 9X = 7 is `invalid`, X9 = 7 is `valid`
* can't use `keywords` as a variable name
    *

# * **`Declaring a Variable`** <br>

In [ ]:
# declare 4 variables with values as: ur_age 21,ur_weight 50.6, ur_first_name = 'Mukesh',ur_last_name = "Manral", TrueOrFalse compare if  ur_last_name == ur_first_name
ur_age= 21
ur_weight= 50.6
ur_first_name = 'Devika'
ur_last_name = "lahari"
TrueOrFalse = ur_last_name == ur_first_name
print(TrueOrFalse)

False

# * **`Data Type(Type of variable)`**

| Name | Type | Description |
| ---- | ---- | ----|
|Integers | int | Integer number, like 34,-56 ...|
|Float | float | Decimal number, like 3.4,-5.6 ...|
|String| str | Ordered sequence of characters, like 'your name' |
|Boolean |bool |Logical values indicating True or False only |

In [ ]:
# print type of ur_age,ur_weight,ur_first_name,ur_last_name variables
print(type(ur_age))
print(type(ur_weight))
print(type(ur_first_name))
print(type(ur_last_name))
print(type(TrueOrFalse))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>

In [ ]:
# print values of ur_age,ur_weight,ur_first_name,ur_last_name variables
print(ur_age)
print(ur_weight)
print(ur_first_name)
print(ur_last_name)
print(TrueOrFalse)

21
50.6
Devika
lahari
False

In [ ]:
# make 2 variables with values as: ur_first_name 'Mukesh',ur_last_name'Mukesh'

# make a variable TrueOrFalse which will have comparison of variables ur_last_name == ur_first_name
ur_first_name ='Devika'
ur_last_name ='Devika'
TrueOrFalse = ur_last_name == ur_first_name
TrueOrFalse

True

In [ ]:
# print variables named as (your name and your age)
print('Name is:', ur_first_name,'and age is:',ur_age)

Name is: Devika and age is: 21

# *How Variables works in Python
[To see how python code is being executed internally](https://pythontutor.com/visualize.html#mode=display)

In [ ]:
# quick variables swap
# define 3 variables with values as :x 10, y = x,x 3
x=10
y=x
x=3
# print x,y
print(x)
print(y)

3
10


<a id='3'></a><center> <h3 style="background-color:orange; color:white" ><br>Assignment Variables & Data Types<br></h3>

ðŸ“Œ `When you create a variable you keep some space in memory. These memory locations are then used to store values`

In [ ]:
# define a variable name "x" and assign value 777 to it
x=777

* To view some data on screen, python have `print` function
    * Using `print` function we can control view on output screen

In [ ]:
# print value of variable x
print(x)

777

# *Identifiers in Python
* Like Variables, we have to define `Functions`, `Classes` etc in python
    * Naming them helps to differentiate one entity from another
* All these names given to these entities are known as `Identifiers`.
* Python have some rules to define Identifiers


***Rules of Writing Identifiers***

* Python is case sensitive language.
* Identifiers can be a combination of letters in lowercase (a to z) or uppercase (A to Z) or digits (0 to 9) or an underscore _.
    * Names like myVariable, var_1 and print_this, all are valid example.
* An identifier cannot start with a digit
* `1variable` is invalid, but `variable1` is perfectly fine
* We cannot use special symbols like !, @, #, $, % etc. in our identifier. `_` is allowed
* ***`Keywords` cannot be used as identifiers =>  `Keywords` are the reserved words in Python***

---
***Keywords in Python***

---

* `False`
* `class`
* `finally`
* `is`
* `return`
* `None`
* `continue`
* `for`
* `lambda`
* `try`
* `True`.. etc

# ðŸ“Œ Type Conversion


***Python defines type conversion functions to directly convert one data type to another.***

In [ ]:
#convert float to integer
#1. make a variable named as my_weight_float with datatype float and value 26.33333
#2. make another var named as my_weight_int change above variable datatype to int
#3. print data type of my_weight_float and my_weight_int
#4. print my_weight_float and my_weight_int
my_weight_float=26.33333
my_weight_int =int(my_weight_float)
print(type(my_weight_float))
print(type(my_weight_int))
print(my_weight_float)
print(my_weight_int)

<class 'float'>
<class 'int'>
26.33333
26

 âž• if we try to add string and integer number, it will give an error

In [ ]:
# convert above string '3' to integer and then add both '3' and 7 and save in variable named as  adding_string_and_number
# called type conversion: string to int
adding_string_and_number =int('3')+7
# print variable adding_string_and_number
adding_string_and_number

10

In [ ]:
# make two variables with values as: ur_money 18 and frnd_money 21
frnd_money=21
ur_money=18
# now use f string in print to see how much mony you and your friend have
print(f'This is friend money: {frnd_money}\n This is your money: {ur_money}')

This is friend money: 21
 This is your money: 18

In [ ]:
# swap your money with friend money values
frnd_money,ur_money = ur_money,frnd_money
# now use f string in print to see how much mony you and your friend have now after swap
print(f'This is friend money: {frnd_money}\n This is your money: {ur_money}')

This is friend money: 18
 This is your money: 21

# *Python Data Structures

| Name | Type | Description |
| ---- | ---- | ----|
|List | list | Ordered sequence of various data types, like [34,'name',3.4]|
|Dictionary | dict | Unordered sequence of `key-values pair`, like {'age':34,'age1:56'}|
|Tuples | tup | Non-mutable sequence of data type, like (34,56,'name')|
|Set |set | Collection of unique elements, like ('id','last_name')|

|Type|Mutability|Comments|
|----|----|----|
int |immutable|
float|immutable|
string|immutable|
bool |immutable|
frozenset|immutable|immutable version of set
tuple|immutable|immutable version of list
list|mutable|
set |mutable|
dict|mutable|

ðŸ’« `immutable` => `can't be changed` <br>
ðŸ’« `mutable` => `can be changed`

---
### Proof that string is immutable

In [ ]:
# can't reassign
# make a variable with value as: where_to_learn_MLandDL 'CloudyML'
where_to_learn_MLandDL = 'CloudyML'
# print type of variable
print(type(where_to_learn_MLandDL))
# acess Letter M
where_to_learn_MLandDL[-1] ="M"

<class 'str'>

TypeError: ignored

In [ ]:
# make a variable with value as: where_to_learn_MLandDL  'CloudyMLDL'
where_to_learn_MLandDL = 'CloudyMLDL'
# try to loop in range of (0,10) and try to see memory location of letter-L of string-'CloudyMLDL' is same
for id_ in range(0, 10):
    # If you don't know loop go through videos first then do this
    print(where_to_learn_MLandDL[id_], "=", id(where_to_learn_MLandDL[id_]))

C = 139644613955120
l = 139644613957744
o = 139644613613808
u = 139644613619632
d = 139644613613488
y = 139644614037104
M = 139644613843376
L = 139644613843312
D = 139644613955376
L = 139644613843312

---

**`List`** (ordered datastructure)
* Ordered collection of values, each element is seprated by a comma, use of square bracket for denotion of list
Ordered property is the most important aspect of list, lets see how:
* Python remembers the order of elements of a list
Data type connot store different kind of values in it, but list can

In [ ]:
# declare a list named as ur_data_Lis having variables age,weight,name with values as 21,50.6,'Mukesh Manral'
ur_data_List=[21,50.6,'Devika lahari']
# declare a dictionary named as ur_data_dictionary having keys as age,weight, first_name values as 21, 50, Mukesh
ur_data_dictionary={'age':21,'weight':50.6,'first_name':'Devika lahari'}
# declare a tuple named as ur_data_tuples having values 21,50.6,'first_name'
ur_data_tuples=(21,50.6,'first_name')
# declare a set named as ur_data_set having value as Mukesh
ur_data_set={'lahari'}

In [ ]:
# see datatype of ur_data_List, ur_data_dictionary, ur_data_tuples , ur_data_set variables
print(type(ur_data_List))
print(type(ur_data_dictionary))
print(type(ur_data_tuples))
print(type(ur_data_set))

<class 'list'>
<class 'dict'>
<class 'tuple'>
<class 'set'>

<a id='4'></a><center> <h3 style="background-color:orange; color:white" ><br>Operators<br></h3>

`Operators`: Symbols that represent mathematical or logical tasks

Example:<br>
`700` `+` `77`<br>
* `+` <= Operator
* `700` & `77` <= Operands

# Types of Operators
1. `Arithmetic Operators`
2. `Comparison Operators`
3. `Logical Operators`

# **1. `Arithmetic Operators`**

|Task | Symbol|Example|
|---|---|----|
|Addition | + | 700 + 77 = 777|
|Substraction | - | 778 - 1 = 777|
|Multiplication | * | 1 * 777 = 777|
|Division | / | 13 / 2 = 6.5|
|Floor Division(ignores decimal \ gives quotient) | // | 13 // 2 = 6|
|Modulo(gives remainder)| % | 13 % 2 = 1|
|Exponent(raise to the power) | ** | 13**2 = 169 |

# **2. `Comparison Operators`**

|Task | Symbol|
|---|---|
|Less than | < |
|Less than or equall to | <= |
|Equall to | == |
|Greater than | > |
|Greater than or equall to | >=|
|Not equall to | != |

# **3. `Logical Operators`**

|Task | Symbol|Description|
|---|---|---|
|and | 1 < 2 and 2 < 3 => True |True only if both comparison are true |
|or | 1 < 2 or 2 > 3 => True|True if either of the comparison are true  |
|not | not 1 > 2 => True|(flips results)True if comparison is False and so on.. |

<a id='5'></a><center> <h3 style="background-color:orange; color:white" ><br>Assignment Operators<br></h3>

In [ ]:
# Initialize variables [x,y,z,zz] with values
## x as 7 =>int ,
## y as 77 =>int,
## z as 77.7 => float,
## zz as 'Hi' => string
x=7
y=77
z=77.7
zz='Hi'

# **1. `Arithmetic Operators`**

In [ ]:
# add x and z
x+z

84.7

In [ ]:
# subtract z and y
z-y

0.7000000000000028

In [ ]:
# Multiply x and z
x*z

543.9

In [ ]:
# Exponent (raise the power or times) x times z
x**z

4.614426248242042e+65

In [ ]:
# division on x and z
x/z

0.09009009009009009

`//` => divides and returns integer value of quotient
* It will dump digits after decimal

In [ ]:
# floor division(ignores decimal) on x and z (gives quotient)
x//z

0.0

In [ ]:
# Modulo(gives remainder) on x and z
x%z

7.0

# **2. `Comparison Operators`**

In [ ]:
# comapre and see if x is less then z
# can use '<' symbol
x<z

True

In [ ]:
# check the type of above comaprison where it says comapre and see if x is less then z
type(x<z)

bool

* `Bool` => takes two values, either `True` or `False`

In [ ]:
# compare and see if x is less then or equall to z
# can use '<=' symbol
x<=z

True

In [ ]:
# comapre and see if x equall to z
# can use '==' symbol
x==z

False

In [ ]:
# comapre and see if x is greater than z
# can use '>' symbol
x>z

False

In [ ]:
# comapre and see if x is greater than or equall to z
# can use '>=' symbol
x>=z

False

In [ ]:
# comapre and see if x is Not equall to z
# can use '!=' symbol
x!=z

True

# **3. `Logical Operators`**

In [ ]:
# compare if 108 is equall to 108, 21 is equall to 21 using logical and
# equall to => '=='
# logical and => and
(108==108) and (21==21)
  # in and both condition must be True to get a True

True

In [ ]:
# how above condition can give False as output show all thouse conditions
 # in and both condition must be True to get a True
(108==21) and (21==21)

False

In [ ]:
# compare if 108 is equall to 108, 21 is equall to 11 using logical or
# equall to => '=='
# logical or => or
(108==108) and (21==11)
 # in or Only one condition need to be True to get a True

False

In [ ]:
# this is for you understand it
(108 == 108) or (21 == 11) or (108 <= 11)

True


<a id='6'></a><center> <h3 style="background-color:orange; color:white" ><br>Conditional Statements<br></h3>

# 1. **`if`--- `else`** => to handle single condition <br>
# 2. **`if`--- `elif`--- `else`** => to handle Multiple condition

`Why do we need conditional Statements?` <br>
Say you want to buy a ML course and to decided you buy it or not to by it based on some condition,=> if you have more then 2k buy, if you dont have more then 2k dont buy!!

* Two Variable you will use `ML course` and `money`
* One comparison `money > 2k`
For ML course if `money > 2k` => you have more money then 2k => condition is True => buy course => if condition is False i.e. you have less money then 2k then dont buy the course

|Pseudo Code for above will be| Python Code for Pseudo code|
|----|----|
Check if money > 2k | if money > 2000:
then ML course = 'buy' |....  ML course = 'buy'
else Ml course = 'dont buy'| else:
 --  | ....ML course = 'dont buy'

In [ ]:
"""
if condition:
    statement
else:
    statement"""

'\nif condition:\n    statement\nelse:\n    statement'

`Observe in Python code:`
* `if` => statement in python
* `else` => statement in python
* `:` => colon => denotes start of if block i.e. any line written after colon belong to if condition
* `....` => see then as indentation i.e. 4 spaces => indentation indicates all code belong to only if and then another indentation indicates code for only else block

In [ ]:
# make variable with value as : money 100000
money=100000
# see output of money > 2000
money>2000

True

In [ ]:
# see above Python code for Pseudo code and write that into python code

# assign money variable value of 100000
##### say you have this much ammount in your account
money=10000
money>2000
# start of if condition
if money > 2000:# if money is greater then 2000 which is ML course free
    print('buy ML course')
else: # if money > 2000 is false i.e. you have less money then 2000 in your account then else will work for now only if is working
    print('dont by ML course')

buy ML course

In [ ]:
# make variable with value as : money 100
money=100
# see output of money > 2000
money>2000

False

In [ ]:
# assign money variable value of 100
#### say you have this much ammount in your account
money=100
money>2000
# start of if condition
if money >2000: # if money is greater then 2000 which is ML course free
    print('buy ML course')
else: # if money > 2000 is false i.e. you have less money then 2000 in your account then else will work for now only if is working
    print('dont by Ml course')

dont by Ml course

# 2. `Multiple Condition` i.e. use of **`if`--- `elif`--- `else`**
Say you have bought ML course, but now you want certification and internship here includes more then 1 condition maybe 2 or 3, lets see for conditions:
* if your test score more then 80 then you will get certification of A grade
* if your test score more then 60 then you will get certification of B grade
* for rest not get anything

|Pseudo Code for above will be
|----|
Check if score > 80
if yes print('A grade')
Otherwise check if score > 60
if yes print('B grade')
For every other situation print('not getting anything')

In [ ]:
# python code for above Pseudo Code will be
your_test_score = input('What is your test score(check for 10, 70, 90):') #taking input from you use of input()
your_test_score = int(your_test_score) #as input is in string changing it to int as to make comparison possible

if your_test_score >80: # if your_test_score greater then 80
    print('A grade')
elif your_test_score >60: # elif your_test_score greater then 60 and your_test_score leass then 80
    print('B grade')
else:
    print('Nothing for you')

What is your test score(check for 10, 70, 90):80
B grade

`Understand above Flow`:
* check for if statement if true close, if not true
* check for elif, if elif condition is true go close, if not true
* go ot else any way
* [See how this code is being executed internally](https://pythontutor.com/visualize.html#mode=display)
* copy above code there


<a id='7'></a><center> <h3 style="background-color:orange; color:white" ><br>Assignment Conditional Statements<br></h3>

# ðŸ“ŒðŸ“Œ Indentation in Python

***Before we start Conditional Statements, let's have a look at `indentation` in Python.***

## `INDENTATION`
* Indentation means `(spaces and tabs)` that are used at beginning of any statement
* Statements with same indentation belong to same group also called as `suite`.

In [ ]:
# this is how wrong indentation gives you error  (commet can be written by using => #)
if (2 == 2):
    print('True Statement') # IndentationError

True Statement

**`Take an input from a user in variable input_ and print "Even" if number is divisible by 2, otherwise print "Odd"`**

In [ ]:
# take input from user by using input function in variable named as input_
input_=input()
# by default type is string, so we need to convert type first into int
input_ =int(input_)
if(input_%2==0): # if input_ modulo 2 compared to 0 id true
    print("Even")
else :
    print("Odd")

40
Even

**`Take input from user in variable x and print "`Grade A`" if y is greater than 90, "`Grade B`" if y is greater than 60 but less than or equal to 90 and "`Grade F`" Otherwise`**

In [ ]:
# take input from user by using input function
x =input()
# by default type is string, so we need to convert type first
x = int(x)
if (x>90)  : # if x is greater then 90
    print("Grade A")
elif(x>60) :# elif x is greater then 60
    print("Grade B")
else:
    print("Grade F")

60
Grade F


<a id='8'></a><center> <h3 style="background-color:orange; color:white" ><br>Loops<br></h3>

In [ ]:
"""
for iterating_variable in sequence:
    statement(s)
"""

'\nfor iterating_variable in sequence:\n    statement(s)\n'

|Loop Type|Description|
|----|-----|
|`for in` loop | repeats a statement or group of statements finite number of time |
|`while` loop | tests condition before executing loop body, repeats a statement or group of statements while a given condition is true |
|`nested` loop  | loop inside a loop |

# **When to use `while` or `for` loops??** <br>
Say your Girlfriend or Boyfriend is mad at you and they asked you to say sorry, but there are two more condition here given by them:
* say sorry 1000 times, now you know end point i.e. 1000 => `use for loop`
* say sorry untill I say I love you, now you dont know end point, maybe she/he will never say I love you. => `use while loop` it will stop saying sorry untill condition is not met

1. `We use for loop when we want to run a block of code certain number of times`
2. `Code in while clause will be executed as long as while statementâ€™s condition is True`

# `Why we need Loops?` <br>
Say your Girfriend/Boyfriend is Mad at you and she want you to write sorry 1000 times. What to do now????? Write a `for loop`

|Pseudo Code for above will be
|----|
print 'Sorry My love' (repeat 1000 times)

In [ ]:
"""
for iterating_variable in sequence:
    statement(s)
"""

'\nfor iterating_variable in sequence:\n    statement(s)\n'

In [ ]:
for iterating_variable in range(10):
    print(iterating_variable)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# print 'ðŸ”¥ Sorry My LoveðŸ”¥' 10 times using for loop
# for now i am giving range of 10 you can give any number you want
for i in range(10):
    print('ðŸ”¥ Sorry My LoveðŸ”¥')

ðŸ”¥ Sorry My LoveðŸ”¥
ðŸ”¥ Sorry My LoveðŸ”¥
ðŸ”¥ Sorry My LoveðŸ”¥
ðŸ”¥ Sorry My LoveðŸ”¥
ðŸ”¥ Sorry My LoveðŸ”¥
ðŸ”¥ Sorry My LoveðŸ”¥
ðŸ”¥ Sorry My LoveðŸ”¥
ðŸ”¥ Sorry My LoveðŸ”¥
ðŸ”¥ Sorry My LoveðŸ”¥
ðŸ”¥ Sorry My LoveðŸ”¥

`10` => `stoping criteria` of, for loop

In [ ]:
# Syntax of for loop
"""
for iterating_variable in sequence:
    statements(s)
"""

'# Syntax of for loop\n\nfor iterating_variable in sequence:\n    statements(s)\n'

* `in` => keyword
* `sequence` => on which to itterate
* `:` => colon , start of for loop

|Pseudo Code `while` loop|
|---|
while reply != 'I love you':
....keep repeating until
....caparison gives False

`!=` = not equall to => `behaves as a stoping criteria`

In [ ]:
# Syntax of while loop
"""
while comparison:
    statements(s)
"""

'\nwhile comparison:\n    statements(s)\n'

In [ ]:
# while loop
# save 0 in variable number
number =0
while (number < 7):
   print(number)
   number=number+1

0
1
2
3
4
5
6

* Initialized variable `number = 0` and then increment it's value in each iteration
* Loop will only continue to run only if value is less than 7

# 3. **`Nested loop`**

In [ ]:
# run it see the output
for outer_loop_number in range(1,3):
    print(outer_loop_number)

1
2

In [ ]:
# run it see the output
for inner_loop_character in "CloudyML":
    print(inner_loop_character)

C
l
o
u
d
y
M
L

In [ ]:
# print this patern using outer and inner loop
for outer_loop_number in range(1,3):
   for inner_loop_character in "ClodyML":
     print(outer_loop_number,inner_loop_character)

1 C
1 l
1 o
1 d
1 y
1 M
1 L
2 C
2 l
2 o
2 d
2 y
2 M
2 L

`See For each step in outer loop, inner loop exectues completely`

In [ ]:
# think what will be the output of this code and then run it
# comment why this out is the way it is
for letter in 'cloudyml':
    if (letter == 'c') or (letter == 'o'):
        print('m', end= ' ')
    else:
        print(letter,end= 'x')

m lxm uxdxyxmxlx

Your Comment: => -------

In [ ]:
# think what will be the output of this code and then run it
# comment why this out is the way it is

num = 10
while num > 5:
    print(num,end= ' ')
    num = num - 1
    if num == 8:
        num = 2

10 9

Your Comment: => -------

<a id='9'></a><center> <h3 style="background-color:orange; color:white" ><br>Jump Statements<br></h3>

# **`Type of Jump Statements`** <br>
1. `Break Statement`
2. `Continue Statement`
3. `Pass Statement`

Using for loops and while loops in Python allow you to automate and repeat tasks in an efficient manner.

* But sometimes, an external factor may influence the way your program runs. When this occurs, you may want your program to `exit a loop completely`, `skip part of a loop before continuing`, or `ignore that external factor`

`You can do these actions with **Break** and **Continue** Statements`

In [ ]:
'''
pass

break

continue
'''

'\npass\n\nbreak\n\ncontinue\n'

# 1. **`Break Statement`**

In [ ]:
# observe the output
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# example that uses break statement in a for loop

num = 0
for num in range(10):
    if num == 5:
         pass #break when num == 5
    print('The number is ->'  +   str(num))

print('Out of loop')
# Explain Why the output is the way it is

The number is ->0
The number is ->1
The number is ->2
The number is ->3
The number is ->4
The number is ->5
The number is ->6
The number is ->7
The number is ->8
The number is ->9
Out of loop

Your Comment: => -------

# 2. **`Continue Statement`**

In [ ]:
# Using same `for loop program` as in Break Statement section above, weâ€™ll use a continue statement rather than a break statement
num = 0

for num in range(10):
    if num == 5:
        continue #keep running if num == 5
    print('The number is -> '+ str(num))
print('Out of loop')
# Explain Why the output is the way it is

The number is -> 0
The number is -> 1
The number is -> 2
The number is -> 3
The number is -> 4
The number is -> 6
The number is -> 7
The number is -> 8
The number is -> 9
Out of loop

Your Comment: => -------

In [ ]:
# Using same code block as above, letâ€™s replace break or continue statement with a pass statement
num = 0
for num in range(10):
    if num == 5:
        pass    # pass then
    print('Number is ' + str(num))
print('Out of loop')
# Explain Why the output is the way it is

Number is 0
Number is 1
Number is 2
Number is 3
Number is 4
Number is 5
Number is 6
Number is 7
Number is 8
Number is 9
Out of loop

Your Comment: => -------

<a id='10'></a><center> <h3 style="background-color:orange; color:white" ><br>Assignment Loops and Jump Statements<br></h3>

# ðŸ’¬ ***Problem Statement-1:***

* User will enter password which is set to be `qwert`
* If password matches, print ***`Welcome to CloudyML Course!!`*** else print ***`Wrong Password!!`*** and user will re-enter password
* In `fourth` trial, it will print ***`One Last Trial left!!!`***

Hint: `Break Statement` can be used

In [18]:
password = "qwert"
for trail in range(1,5):
  if trail==4:
     print('****One Last Trail Left!!!****')

enter_password = input("Enter Password: ")
while enter_password != password:
  print("Wrong Password!!")
  enter_password = input("Enter your password: ")
else:
  print("Welcome to CloudyML Course!!")

****One Last Trail Left!!!****
Enter Password: lalli
Wrong Password!!
Enter your password: qwert
Welcome to CloudyML Course!!

.....

# ðŸ’¬ ***Problem Statement-2:***

* Enter password which is an OTP set to be `1008`
* If OTP matches, It will ask user to provide details like ***`Enter Your Name:`*** and ***`Enter Your City:`*** and user will re-enter OTP
* In `fourth` trial, it will print ***`One Last Trial left!!!`***

`Hint:` Continue Statement can be used

<a id='11'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Data Structures<br></h3>

In [33]:
OTP = "1008"
for trail in range(1,5):
   if trail ==4:
        print('***One Last Trail Left!!!***')
enter_otp = input("Enter OTP:")
if enter_otp != OTP:
  print("Try Again!!")
else:
  name = input("Enter Your Name: ")
  print("Welcome", name)
  city_name=input("Enter Your City")

***One Last Trail Left!!!***
Enter OTP:1008
Enter Your Name: lalli
Welcome lalli
Enter Your CityDwn

Existing Data Type: int, float, bool, str

Problem with Existing Data Type:
* Only single data type can be stored in a variable i.e. either int or decimal or str
* To store more data we need more variables
    * Eg: You have 100 name and age then you have to make 200 variables, valid for condition if you are not using DataStructure
    
    
`Data Structure Solves` above problem

# **`Properties of Data Structure:`**
* Efficient Storage for large data
* Should allow Manipulation/Operations on data
* Should mantain underlying relationship of data
If these three properties are available then you can call it a Data Structure


# `Types of Data Structures:`
* `List` => ordered => elements seprated by comma => enclosed with square brackets-[]
* `Tuple`
* `Set`
* `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
frozenset|immutable|immutable version of set|- |- |- |
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

ðŸ’« `immutable` => `can't be changed` <br>
ðŸ’« `mutable` => `can be changed`

---


# **`List`**

In [34]:
# make a list, name it as names with values ram','ohm','da','ada','asdasd'
names=['ram','ohm','da','ada','asdasd']
# make a list, name it as roll_no with values 21,23,435,65,565,656
roll_no=[21,23,435,65,565,656]
# make a list, name it as scores  with values 23,2323,2323,234324,3423
scores=[23,2323,2323,234324,3423]

In [35]:
# make a list with Single data type - str
# name of list names_list with values as 'krishna','mahadev','surya'
names_list=['krishna','mahadev','surya']
# print type of names_list
names_list

['krishna', 'mahadev', 'surya']

In [38]:
# make a list with Mixed data type - str and int
# name of list names_list with values as 'krishna','mahadev','surya',108,11,21
names_list=['krishna','mahadev','surya',108,11,21]
# print type of names_list
print(type(names_list))

<class 'list'>

In [39]:
# access output element
names_list[-5]

'mahadev'

`List Indexing:`


|`Values`|1|2|3|4|5|6|7|8|9|10|
|---|---|---|---|---|---|---|---|---|---|---|
|`Indexing` |0 |1 |2 |3 |4 |5 |6 |7 |8|9|
|`Negative Indexing`| -10 |-9 |-8 |-7 |-6 |-5 |-4 |-3 |-2 |-1|

In [40]:
# extract single element i.e. last one using Negative Index (first element)
names_list[-1]

21

In [41]:
# extract single element using Index (first element)
names_list[0]

'krishna'

In [42]:
# extract sequence of elements using Index (first 3 elements)
names_list[0:3]
  #=> [start index:end index] => exclude end index

['krishna', 'mahadev', 'surya']

## Membership Operators
To check if particular element is present in list or not
* Using `in` or `not in` to get answers of these type of queries

In [43]:
# see names_list data
names_list

['krishna', 'mahadev', 'surya', 108, 11, 21]

In [44]:
# see if 'mukesh' is in  names_list
'mukesh' in names_list

False

In [45]:
# see if 'rawan' is notin names_list
'rawan' not in names_list

True

## Adding to List
* Adding a single element: `append()` => add at the end of the list
* Adding multiple elements (adding list in list): `extend()`

# Use of .append()

In [47]:
#see again names_list elements
names_list

['krishna', 'mahadev', 'surya', 108, 11, 21]

In [48]:
# #see again names_list list elements
print(names_list,'\n')
#appending 'bhagwan' to list names_list
#using append()
names_list.append('bhagwan')
# print list after appending
print(names_list,'\n')
# append 3,'ok' values as a list of list
 #<= it will append a list inside a list
names_list.append([3,'ok'])
# print names_list
print(names_list,'\n')

['krishna', 'mahadev', 'surya', 108, 11, 21]

['krishna', 'mahadev', 'surya', 108, 11, 21, 'bhagwan']

['krishna', 'mahadev', 'surya', 108, 11, 21, 'bhagwan', [3, 'ok']]

# Use of .extend()

In [49]:
# extend names_list with values 6,'one more'
names_list.extend([6,'one more'])
# print list after .extend()
print(names_list)

['krishna', 'mahadev', 'surya', 108, 11, 21, 'bhagwan', [3, 'ok'], 6, 'one more']

## Deleting from list
* `.remove()` => delete element by its value
* `del` => delete element by index : indexing start from 0

# Use of .remove()

In [50]:
# see names_list
names_list

['krishna',
 'mahadev',
 'surya',
 108,
 11,
 21,
 'bhagwan',
 [3, 'ok'],
 6,
 'one more']

In [51]:
# remove one more from names_list
names_list.remove('one more')
# print names_list
print(names_list)

['krishna', 'mahadev', 'surya', 108, 11, 21, 'bhagwan', [3, 'ok'], 6]

# Use of del

In [52]:
# see names_list
names_list

['krishna', 'mahadev', 'surya', 108, 11, 21, 'bhagwan', [3, 'ok'], 6]

In [53]:
# del 7 from names_list
del names_list[7]
# print names_list
print(names_list)

['krishna', 'mahadev', 'surya', 108, 11, 21, 'bhagwan', 6]

## Iterate through list

In [54]:
# interate through list elements
for element in names_list:
   print(element)
  # print element

krishna
mahadev
surya
108
11
21
bhagwan
6

## Some pre-defined method on List

In [55]:
# see names_list
names_list

['krishna', 'mahadev', 'surya', 108, 11, 21, 'bhagwan', 6]

In [56]:
# find length of list names_list
print(len(names_list))

8

In [57]:
# reverse a list names_list
names_list.reverse()
# see names_list
names_list

[6, 'bhagwan', 21, 11, 108, 'surya', 'mahadev', 'krishna']

In [60]:
# make a list named as numbers_list with values as [51,101,11,21]
numbers_list=[51,101,11,21]
# sort list numbers_list
numbers_list.sort()
# see numbers_list output
numbers_list

[11, 21, 51, 101]

In [61]:
# another way of sorting list
sample_list=[51,101,11,21]
# use sorted to short list named as sample_list with values as [51,101,11,21]
sorted(sample_list)

[11, 21, 51, 101]

# Nested List

In [62]:
# defining a sample nested list named as list_of_list and values  [111, 201, [11, 21, 121], ['Aman', 'Bobo', 'Canada'], 'Wangu', ['Aanaya', 'Annu', 'Amanda']]
list_of_list=[111, 201, [11, 21, 121], ['Aman', 'Bobo', 'Canada'], 'Wangu', ['Aanaya', 'Annu', 'Amanda']]
# print list_of_list
print(list_of_list)

[111, 201, [11, 21, 121], ['Aman', 'Bobo', 'Canada'], 'Wangu', ['Aanaya', 'Annu', 'Amanda']]

In [63]:
# find length of nested list
len(list_of_list)

6

In [64]:
# aces third element of list_of_list
list_of_list[2]

[11, 21, 121]

In [65]:
# accessing 2nd element of the third element of the primary list named  as list_of_list
list_of_list[2][1]

21

<a id='12'></a><center> <h3 style="background-color:orange; color:white" ><br>Assignment Python Data Structures List<br></h3>

# ðŸ’¬ **List Problem Statement:**

Say CloudyML conducted an assessment test to hire a Data Scientist <br>
Candidates were evaluated on 5 different subject `Statistics`, `Python`, `SQL`, `ML`, and `DeepLearning` <br>
`Help CloudyML team to find out answers of following questions` <br>

ðŸ’¡ `Find out Who scored highest marks in Python?`
* Step1: Select name of student and marks in Python
* Step2: Store filtered name and marks in another list
* Step3: Sort list. (Kept marks as first index)
* Step4: Get final index of sorted list

In [82]:
#### Marks of 5 different subjects out of 100 are as ####
# make student marks nested list
student_marks =[['Name', ['Statistics', 'Python', 'SQL', 'ML', 'DeepLearning']],
                ['Ananya', [41, 34, 45, 55, 63]],
                ['Akash', [42, 23, 34, 44, 53]],
                ['Rahul', [32, 23, 13, 54, 67]],
                ['Mukesh', [23, 82, 23, 63, 34]],
                ['Pranav', [21, 23, 25, 56, 56]] ]

In [83]:
# print student_marks
print(student_marks)

[['Name', ['Statistics', 'Python', 'SQL', 'ML', 'DeepLearning']], ['Ananya', [41, 34, 45, 55, 63]], ['Akash', [42, 23, 34, 44, 53]], ['Rahul', [32, 23, 13, 54, 67]], ['Mukesh', [23, 82, 23, 63, 34]], ['Pranav', [21, 23, 25, 56, 56]]]

In [84]:
# access first index of list student_marks
student_marks[0]

['Name', ['Statistics', 'Python', 'SQL', 'ML', 'DeepLearning']]

* Slice list from second element

In [74]:
# access first index of list student_marks[1]
student_marks[1]

['Ananya', [41, 34, 45, 55, 63]]

See, each element in list from Index-1 contains 2 elements
* first is `Name`
* second is `list of marks`

In [75]:
# acess first student name
student_marks[1][0]

'Ananya'

In [76]:
# acess ananya marks
student_marks[1][1]

[41, 34, 45, 55, 63]

Now, student marks are in order **`Statistics`**, **`Python`**, **`SQL`**, **`ML`** and **`DeepLearning`**. and we need to access value at Index-1 to get marks in subject => **`Python`**

In [77]:
# observe the output commend why this is the way it is
student_marks[1][1][1]

34

See above `Ananya` Python marks

***Now Solving Problem step after step***
* `Who scored highest marks in subject Python? `  


***Step1: Select name of student and marks in subject Python***

In [91]:
for student in student_marks[1:]:
    name=student[0]
    marks_in_python=student[1][1]
    print(name,marks_in_python)

Ananya 34
Akash 23
Rahul 23
Mukesh 82
Pranav 23

***Step2: Store filtered Name and Marks in another list***

In [92]:
student_python_marks=[]
for student in student_marks[1:]:
    name=student[0]
    python_marks=student[1][1]
    student_python_marks.append([python_marks,name])
student_python_marks

[[34, 'Ananya'], [23, 'Akash'], [23, 'Rahul'], [82, 'Mukesh'], [23, 'Pranav']]

***Step3: Sort list (Keep marks as first index)***

In [94]:
sorted(student_python_marks)

[[23, 'Akash'], [23, 'Pranav'], [23, 'Rahul'], [34, 'Ananya'], [82, 'Mukesh']]

***Step4: Get final index of sorted list with student name having max marks in Python subject***

In [95]:
sorted(student_python_marks)[-1][1]

'Mukesh'

Got answer of first question. Mukesh has scored highest marks in subject Python
* You can also do it using loop do it if you want to

-----

# **`Tuple`** <br>

Benefit of using tuples:<br>
* Faster then list
* Provide security over updation => once created cannot be modefyied like list
* Can be used as key for dictionarie
* We generally use tuple for heterogeneous(different) datatypes and list for homogeneous (similar) datatypes
* Since tuples are immutable, iterating through tuple is faster than with list. So there is a slight performance boost
* Tuples that contain immutable elements can be used as a key for a dictionary. With lists, this is not possible
* If you have data that doesn't change, implementing it as tuple will guarantee that it remains write-protected
* We cannot edit/update or delete elements from the tuple

### **`Watch Video 22: Tuple `**

In [96]:
# make a variable names as data_tuple with values 'krishna', 'mahadev', 'surya', 108, 11, 21, 'bhagwan', 6
data_tuple=('krishna', 'mahadev', 'surya', 108, 11, 21, 'bhagwan', 6)
# print data_tuple
print(data_tuple)
# print type of data_tuple
print(type(data_tuple))

('krishna', 'mahadev', 'surya', 108, 11, 21, 'bhagwan', 6)
<class 'tuple'>

In [97]:
# make a variable named as data_tuple with values as 1,2,3,4,5
# Acess element at 2nd Index of data_tuple  #<= indexing work same as list as tuple is ordered data structure
data_tuple=(1,2,3,4,5)
data_tuple[2]

3

In [99]:
# think what will be the output of this code then run it
data_tuple = ( (1,2,3,4,5),
             (4,5,3,4,5),
             (3,7,8,9,6) )

data_tuple[2][2:4]
# Views on why the output is the way it is

(8, 9)

In [100]:
# find Index of any element, here index of 3
data_tuple = (1,2,3,4,5)
   # <= 3 is at 2nd index as indexing start at one
data_tuple.index(3)

2

In [101]:
# count of an element
data_tuple = (1,2,3,4,5)
# print how many time 4 have come
print(data_tuple.count(4))
data_tuple = (7,2,7,4,7)
# print how many time 7 have come
print(data_tuple.count(7))

1
3

In [102]:
# iterate through elements of tuple similar to list using for
data_tuple = (7,2,7,4,7)
for element in data_tuple:
  print(element)

7
2
7
4
7

In [103]:
# slicing in tuple
data_tuple = (5,2,7,4,6)
# slice and print first 2 element
#<= exclude 2nd Index
print(  data_tuple[:2]    )
# defining start pont as 2 and end poin as 4 to slice
print(   data_tuple[2:4]  )
# by using count method on slice see how many time 2 comes
#<= count of 2 if present
print(   data_tuple[2:4].count(2)  )
# index method on slice
print(   data_tuple[1:4].index(2)   ) #<= index of 2

(5, 2)
(7, 4)
0
0

In [105]:
data_tuple

(5, 2, 7, 4, 6)

<a id='13'></a><center> <h3 style="background-color:orange; color:white" ><br>Assignment Python Data Structures List&Set<br></h3>

# ðŸ’¬ **List Problem Statement:**

Say CloudyML conducted an assessment test to hire a Data Scientist <br>
Candidates were evaluated on 5 different subject `Statistics`, `Python`, `SQL`, `ML`, and `DeepLearning` <br>
`Help CloudyML team to find out answers of following questions` <br>

ðŸ’¡ `Find out Who scored highest marks in Python?` <br>
ðŸ’¡ `Find out average marks scored in subject SQL?` <br>
ðŸ’¡ `Find out scored highest percentage of marks?` <br>
ðŸ’¡ `If considered only top-4 subjects of a candidate, then who scored highest percentage of marks?` <br>

In [109]:
### Find out Who scored highest marks in Python? ###
# student marks nested list
student_marks = [['Name',['Statistics','Python','SQL','ML','DeepLearning']],
                 ['Ananya',[41, 34, 45, 55, 63]],
                 ['Akash',[42, 23, 34, 44, 53]],
                 ['Rahul',[32, 23, 13, 54, 67]],
                 ['Gyan',[23, 82, 23, 63, 34]],
                 ['Pranav',[21, 23, 25, 56, 56]] ]

# Find out Who scored highest marks in Python? using for loop, soorted and slicing
python_marks =[]
for _ in student_marks[1: ]:
   name_python = _[0]
   marks_python=_[1][1]
   python_marks.append([marks_python,name_python])
python_marks_sorted=sorted(python_marks)
python_max_marks=python_marks_sorted[-1]
python_max_marks

[82, 'Gyan']

In [112]:
### Find out average marks scored in subject SQL? ###
SQL_detail=[]
all_SQL_marks=[]
total_element_in_SQL=0

# Extracted col= name with SQL_data=marks
for _ in student_marks[1:]:
     name_SQL=_[0]
     marks_SQL=_[1][2]
     SQL_detail.append([name_SQL,marks_SQL])
# Extracted only SQL_data=marks
for _ in SQL_detail[:]:
     marks=(_[1])
     all_SQL_marks.append(marks)
     total_element_in_SQL +=1
# mathematical operation
avg_of_SQL_marks = sum(all_SQL_marks)/total_element_in_SQL
print('avg_of_SQL_marks:',avg_of_SQL_marks)

avg_of_SQL_marks: 28.0

In [118]:
### Find out scored highest percentage of marks? ###
NameWithTotalMarks=[]
max_marks=int(input('Maximum marks for each subject:'))
count=int(input('Number of Subjcets:'))

for _ in student_marks[1:]:
     name=_[0]
     mark=_[1]
     print("name: ", name)
     print("marks: ", mark)
     NameWithTotalMarks.append([sum(mark),name])

NameWithTotalMarksSorted = sorted(NameWithTotalMarks)
print(NameWithTotalMarksSorted)

topper_percentage=[]

for _ in NameWithTotalMarksSorted[:]:
     sorted_marks=_[0]
     sorted_name = _[1]
     topper_percentage.append([sorted_name, round(sorted_marks / (count * max_marks) * 100)])
print('Topper percentage is:', topper_percentage[-1][1], '%', 'Name is :', topper_percentage[-1][0])

#student_marks = [['Name',['Statistics','Python','SQL','ML','DeepLearning']],
          #       ['Ananya',[41, 34, 45, 55, 63]],
            #     ['Akash',[42, 23, 34, 44, 53]],
             #    ['Rahul',[32, 23, 13, 54, 67]],
              #   ['Gyan',[23, 82, 23, 63, 34]],
               #  ['Pranav',[21, 23, 25, 56, 56]] ]

Maximum marks for each subject:100
Number of Subjcets:5
name:  Ananya
marks:  [41, 34, 45, 55, 63]
name:  Akash
marks:  [42, 23, 34, 44, 53]
name:  Rahul
marks:  [32, 23, 13, 54, 67]
name:  Gyan
marks:  [23, 82, 23, 63, 34]
name:  Pranav
marks:  [21, 23, 25, 56, 56]
[[181, 'Pranav'], [189, 'Rahul'], [196, 'Akash'], [225, 'Gyan'], [238, 'Ananya']]
Topper percentage is: 48 % Name is : Ananya

In [121]:
### solv for `If considered only top-4 subjects of a candidate, then who scored the highest percentage of marks?` ###
top_4=[]
for _ in student_marks[:]:
     name=_[0]
     mark=sorted(_[1])
     sorted_mark= mark[1:]
     top_4.append([name,sorted_mark])
max_marks=int(input('Maximum marks for each subject:'))
count=int(input('Number of Subjects:'))

print(" Top 4 : ",top_4[1:])

NameWithTotalMarks=[]
for _ in top_4[1:]:
     name=_[0]
     mark=_[1]
     NameWithTotalMarks.append([sum(mark),name])

NameWithTotalMarksSorted = sorted(NameWithTotalMarks)

topper_percentage=[]
for _ in NameWithTotalMarksSorted[:]:
     sorted_marks=_[0]
     sorted_name = _[1]
     topper_percentage.append([sorted_name, round(sorted_marks / (count * max_marks) * 100)])
print('Topper percentage is:', topper_percentage[-1][1], '%', 'Name is :', topper_percentage[-1][0])

Maximum marks for each subject:100
Number of Subjects:5
 Top 4 :  [['Ananya', [41, 45, 55, 63]], ['Akash', [34, 42, 44, 53]], ['Rahul', [23, 32, 54, 67]], ['Gyan', [23, 34, 63, 82]], ['Pranav', [23, 25, 56, 56]]]
Topper percentage is: 41 % Name is : Ananya

----

# **`Sets`**
* Unordered collection of elements (if you put some data in order inside  set it will discard order)
    * It shorts elements by itself (see below example)
* No duplicates only unique values
    * Put duplicates in set it will auto remove them
* Mutable can add, remove values
* Set Theory operations are possible like Union,Intersection etc...
    * `intersection` of 2 sets => set_1.intersection(set_2)
    * `union` of 2 sets => set_1.union(set_2) ..

### **`Watch Video 20: Sets`**

In [122]:
# define set named as set_ with values 'b','c','a','z'
set_={'b','c','a','z'}
# print set
print(set_)

{'b', 'c', 'a', 'z'}

In [127]:
# define list namead as frt with elements as 'mango','banana','mango','banana'
frt=['mango','banana','mango','banana']
# define a set named as set_ with elements as 'mango','banana','mango','banana'
set_={'mango','banana','mango','banana'}
# print set
print(set_)

{'mango', 'banana'}

In [128]:
# make a set named as set_data and values as 4,'A',5,1,'V','L'
set_data={4,'A',5,1,'V','L'}
# print set_data #<= results are shorted
print(set_data)

{'A', 1, 'L', 4, 5, 'V'}

In [129]:
# No duplicates only unique values
# make a set named as set_data and values as 4,4,5,1,'V','V'
set_data={4,4,5,1,'V','V'}
# print set_data
print(set_data)

{1, 4, 5, 'V'}

In [130]:
# make tuple named  as tuple_data with values as 'A', 'B', 1, 2, 'B', 'A'
tuple_data=('A', 'B', 1, 2, 'B', 'A')
# make a variable names as var_1 and convert it into set
var_1=set(tuple_data)
# print var_1
print(var_1)

{'A', 1, 2, 'B'}

In [131]:
# Defining a set using a List
# define a list named as list_data with values as  'A', 'B', 1, 2, 'B', 'A'] # this is a list with duplicate data
list_data=['A', 'B', 1, 2, 'B', 'A']
# change set_from_list to  set # set will remove duplicates
set_from_list=set(list_data)
# print set_from_list)
print(set_from_list)
# Defining a set using a Tuple named as tuple_data with values as 'A', 'B', 1, 2, 'B', 'A'
tuple_data=( 'A', 'B', 1, 2, 'B', 'A')
# make variable named as set_from_tuple, change tuple_data into set
# print set_from_tuple)
set_from_tuple=set(tuple_data)
print(set_from_tuple)

{'A', 1, 2, 'B'}
{'A', 1, 2, 'B'}

In [132]:
# see set_from_tuple output
set_from_tuple

{1, 2, 'A', 'B'}

In [133]:
# add 0 to set_from_tuple
# print set_from_tuple
set_from_tuple.add(0)
print(set_from_tuple)

{0, 1, 2, 'B', 'A'}

In [136]:
# make variable named as set_ with values as 'b','c','a','z'
# print set_
set_={'b','c','a','z'}
print(set_)

{'b', 'c', 'a', 'z'}

In [135]:
# add x to set_
# print set_
set_.add('x')
print(set_)

{'z', 'x', 'c', 'a', 'b'}

In [137]:
# Add 0 to set set_from_tuple
# print set_from_tuple # 0 is added at the starting of set, as set orders by itself
set_from_tuple.add(0)
print(set_from_tuple)
# adding C to set set_from_tuple
# print set_from_tuple # c is added at the last of set, as set orders by itself
set_from_tuple.add('C')
print(set_from_tuple)

{0, 1, 2, 'B', 'A'}
{0, 1, 2, 'B', 'A', 'C'}

# delete element from set

In [138]:
# see output of set_from_tuple
set_from_tuple

{0, 1, 2, 'A', 'B', 'C'}

In [139]:
# use discard to remove 0 from set_from_tuple
# see output of set_from_tuple
set_from_tuple.discard(0)
set_from_tuple

{1, 2, 'A', 'B', 'C'}

In [140]:
# from set_from_tuple discard 9
# print set_from_tuple
set_from_tuple.discard(9)
set_from_tuple

{1, 2, 'A', 'B', 'C'}

In [141]:
# delete element from set (two methods are as)
## discard() : if element not in set, it will not show error
## remove() : if element not in set, it will show error
set_from_tuple.discard(0.0)

# Difference b/w two set (set_1 - set_2)

In [144]:
# set_1 - set_2 => states that, collect every element of set_1 after removing thouse element which are common in set_1 and set_2

# define a set named as set_1 with elements as 1,2,3,'A','B'
# define a set named as set_2 with elements as 3,'A'
# difference of set_1 and set_2
# see difference between set_1 and set_2)
# print set_1
set_1={1,2,3,'A','B'}
set_2={3,'A'}
set_1.difference(set_2)
set_1

{1, 2, 3, 'A', 'B'}

In [145]:
# if you want ot update set_1 by difference
set_1.difference_update(set_2)
# using difference_update update set_1 and set_2
# print set_1
print(set_1)

{1, 2, 'B'}

# Intersection b/w two set (set_1 - set_2)

In [146]:
# collect only elements which are common b/w both sets
set_1 = {1,2,3,'A','B'}
set_2 = {3,'A'}
set_1.intersection(set_2)
set_1

{1, 2, 3, 'A', 'B'}

In [147]:
# if you want ot update set_1 by intersection
set_1.intersection_update(set_2)
set_1

{3, 'A'}

----

# **`Dictionary`** => `key:value`
* Unordered data structure
* Collection of multiple lists can say, looks like set{} but have {key:value} pairs for storing elements
    * student_information is a dictionay and it have name,age,email,adress etc store in form of list how see bellow example
* `Element of dictionary can only be acessed by using key not Index`
* Every key must be unique

`{} -> curly brac`

### **`Watch Video 21: Dictionary`**

In [148]:
# student details
names = ['Viranda','Sandhu','Rama','Yoga']
height = [120,130,140,150]
weight = [56,60,45,90]
age = [23,34,56,55]

"""
dict = { key:values }
"""

### storing all these 4 lists in a dict using key:value  # once data structure inside other
student_details_dict = {
    'names' : ['Viranda','Sandhu','Rama','Yoga'],
    'height' : [120,130,140,150],
    'weight' : [56,60,45,90],
    'age' : [23,34,56,55]
}
print(student_details_dict)

{'names': ['Viranda', 'Sandhu', 'Rama', 'Yoga'], 'height': [120, 130, 140, 150], 'weight': [56, 60, 45, 90], 'age': [23, 34, 56, 55]}

* Above name,height are the `key` and list's data are the `value pair` associated with the key
    * can say each key is mapped to multiple values
* Above is the representation of advanced data structure as you can see list inside a dictionary

In [149]:
student_details_dict['age']

[23, 34, 56, 55]

In [150]:
student_details_dict

{'names': ['Viranda', 'Sandhu', 'Rama', 'Yoga'],
 'height': [120, 130, 140, 150],
 'weight': [56, 60, 45, 90],
 'age': [23, 34, 56, 55]}

In [151]:
student_details_dict['names'][-1]

'Yoga'

In [152]:
# trying to acess using key will give error

print(student_details_dict['names'],'\n')

#getting into name key values
print(student_details_dict['names'][1:])

['Viranda', 'Sandhu', 'Rama', 'Yoga']

['Sandhu', 'Rama', 'Yoga']

In [153]:
### Acessing keys ###
student_details_dict.keys()

dict_keys(['names', 'height', 'weight', 'age'])

In [154]:
### Acessing values ###
student_details_dict.values()

dict_values([['Viranda', 'Sandhu', 'Rama', 'Yoga'], [120, 130, 140, 150], [56, 60, 45, 90], [23, 34, 56, 55]])

# Adding single element to dictionary

In [155]:
student_details_dict

{'names': ['Viranda', 'Sandhu', 'Rama', 'Yoga'],
 'height': [120, 130, 140, 150],
 'weight': [56, 60, 45, 90],
 'age': [23, 34, 56, 55]}

In [156]:
# dict_name['key_name'] = [values to update]
student_details_dict['emails'] = ['as@gmail.com','asd@gmail.com','d@gmail.com','sd@gmail.com']

student_details_dict

{'names': ['Viranda', 'Sandhu', 'Rama', 'Yoga'],
 'height': [120, 130, 140, 150],
 'weight': [56, 60, 45, 90],
 'age': [23, 34, 56, 55],
 'emails': ['as@gmail.com', 'asd@gmail.com', 'd@gmail.com', 'sd@gmail.com']}

# Adding multiple element to dictionary

In [157]:
student_details_dict

{'names': ['Viranda', 'Sandhu', 'Rama', 'Yoga'],
 'height': [120, 130, 140, 150],
 'weight': [56, 60, 45, 90],
 'age': [23, 34, 56, 55],
 'emails': ['as@gmail.com', 'asd@gmail.com', 'd@gmail.com', 'sd@gmail.com']}

In [158]:
# use of .update({'key':[value],'key1':[value1]})

student_details_dict.update({'adress':['ana','dasd','asdad','adasd'],'sex':['m','m','m','m']})
student_details_dict

{'names': ['Viranda', 'Sandhu', 'Rama', 'Yoga'],
 'height': [120, 130, 140, 150],
 'weight': [56, 60, 45, 90],
 'age': [23, 34, 56, 55],
 'emails': ['as@gmail.com', 'asd@gmail.com', 'd@gmail.com', 'sd@gmail.com'],
 'adress': ['ana', 'dasd', 'asdad', 'adasd'],
 'sex': ['m', 'm', 'm', 'm']}

# Deleting element of dictionary

In [159]:
student_details_dict

{'names': ['Viranda', 'Sandhu', 'Rama', 'Yoga'],
 'height': [120, 130, 140, 150],
 'weight': [56, 60, 45, 90],
 'age': [23, 34, 56, 55],
 'emails': ['as@gmail.com', 'asd@gmail.com', 'd@gmail.com', 'sd@gmail.com'],
 'adress': ['ana', 'dasd', 'asdad', 'adasd'],
 'sex': ['m', 'm', 'm', 'm']}

In [160]:
# use of del
del student_details_dict['sex'] #<= removing sex key totaly from key
student_details_dict

{'names': ['Viranda', 'Sandhu', 'Rama', 'Yoga'],
 'height': [120, 130, 140, 150],
 'weight': [56, 60, 45, 90],
 'age': [23, 34, 56, 55],
 'emails': ['as@gmail.com', 'asd@gmail.com', 'd@gmail.com', 'sd@gmail.com'],
 'adress': ['ana', 'dasd', 'asdad', 'adasd']}

# Updating dict with dicts

In [162]:
# Make a dict named as student_data_dictionary  with value which are given bellow as output
student_data_dictionary = {
       'age': 21,
       'attendance': 74,
       'city': 'Gurugram',
       'country': 'India',
       'name': 'Vany',
       'percentage': 85,
       'roll_no': 'CSE100'}
# print student_data_dictionary
print(student_data_dictionary)

{'age': 21, 'attendance': 74, 'city': 'Gurugram', 'country': 'India', 'name': 'Vany', 'percentage': 85, 'roll_no': 'CSE100'}

In [164]:
# update student_data_dictionary by observing output
student_data_dictionary.update({
    'pincode'  : 345467,
    'last_name' : 'Unicorn'
})
# print student_data_dictionary
print(student_data_dictionary)

{'age': 21, 'attendance': 74, 'city': 'Gurugram', 'country': 'India', 'name': 'Vany', 'percentage': 85, 'roll_no': 'CSE100', 'pincode': 345467, 'last_name': 'Unicorn'}

# Updating dict with list of tuples

In [165]:
# print student_data_dictionary
print(student_data_dictionary)

{'age': 21, 'attendance': 74, 'city': 'Gurugram', 'country': 'India', 'name': 'Vany', 'percentage': 85, 'roll_no': 'CSE100', 'pincode': 345467, 'last_name': 'Unicorn'}

In [166]:
# update student_data_dictionary by observing output
student_data_dictionary.update({
    'pincode'  : 345467,
    'last_name' : 'Unicorn'
})
# print student_data_dictionary
print(student_data_dictionary)

{'age': 21, 'attendance': 74, 'city': 'Gurugram', 'country': 'India', 'name': 'Vany', 'percentage': 85, 'roll_no': 'CSE100', 'pincode': 345467, 'last_name': 'Unicorn'}

In [167]:
# observe this code
### dictionary key can be anything string,integer,float,boolean ###
dict_sample = {
    'string' : 'string can be used as key',
    777 : 'interger can be used as key',
    777.77 : 'float can be used as key',
    False : 'boolean can be used as key'
}
dict_sample.keys()

dict_keys(['string', 777, 777.77, False])

Mostly String and Integer are used as key

In [168]:
dict_sample[777.77]

'float can be used as key'

In [169]:
# observe this code
### Duplicate keys ###
# every key must be unique
dict_sample = {
    'a':1,
    'b':2,
    'c':3,
    'a':23
}
dict_sample

{'a': 23, 'b': 2, 'c': 3}

`If we add duplicate keys, it will not throw an error instead it will overwrite value which is added at last`

# Iterating through key:value pair

In [170]:
dict_sample.items()

dict_items([('a', 23), ('b', 2), ('c', 3)])

In [171]:
for key,value in dict_sample.items():
    print(key,value)

a 23
b 2
c 3

# sorting a dictionary based on keys

In [173]:
sorted(dict_sample.items())

[('a', 23), ('b', 2), ('c', 3)]

In [ ]:
# sorting a dictionary based on values
# it requires concept of lambda expression

---

# **`String Manipulation`** [More Resources](https://docs.python.org/3.7/library/stdtypes.html#text-sequence-type-str)

# observe bellow code

In [174]:
string_ = '' or "" or """ """

In [175]:
# defining a string
string = "We are creating next generation data science eco-system at CloudyML"
string

'We are creating next generation data science eco-system at CloudyML'

In [176]:
# length of string including spaces
len(string)

67

In [177]:
# Accessing characters in a string
string[0]

'W'

In [178]:
# Accessing characters with negative indexing
string[-1]

'L'

# String Slicing

In [179]:
string[:6]

'We are'

In [180]:
string[7:-10]

'creating next generation data science eco-system a'

# Count of a particular `character` in a string

In [181]:
print(string)

string.count('e')

We are creating next generation data science eco-system at CloudyML

10

# Count of a particular `sub-string` in a string

In [182]:
print(string[7:-10])
string.count('ea')

creating next generation data science eco-system a

1

# Find a substring in string using `find` and `index` function

In [183]:
string

'We are creating next generation data science eco-system at CloudyML'

In [184]:
# .find() => if present it will return starting index, not found then it will return -1
# .index() => if present it will return starting index, not found then it will give error
string.find('eaq')

-1

In [186]:
string.index('ea')

9

In [187]:
string

'We are creating next generation data science eco-system at CloudyML'

In [188]:
### Checking whether string `startswith` or `endswith` a particular substring or not ###
string.endswith('CloudyML')

True

In [189]:
string.startswith('We')

True

In [190]:
string

'We are creating next generation data science eco-system at CloudyML'

In [191]:
### Converting string to upper case ###
string.upper()

'WE ARE CREATING NEXT GENERATION DATA SCIENCE ECO-SYSTEM AT CLOUDYML'

In [192]:
### Converting only first character of string to upper case ###
string.capitalize()

'We are creating next generation data science eco-system at cloudyml'

In [193]:
string

'We are creating next generation data science eco-system at CloudyML'

In [194]:
### Checking if string is in lower case or upper case ###
string.islower()

False

In [195]:
string.isupper()

False

In [196]:
### Checking if string is digit, alpabetic, alpha-numeric ###
"1".isnumeric()

True

In [197]:
"1s".isnumeric()

False

In [198]:
"name".isalpha()

True

In [199]:
"name777".isalpha()

False

In [200]:
"name777".isalnum()

True

In [201]:
string = 'Cloudy ML'
string.isalpha()

False

In [202]:
string = 'CloudyML'
string.isalpha()

True

In [203]:
str_ = "C++ is easy to learn"
str_

'C++ is easy to learn'

In [204]:
### Replacing substrings ###
str_.replace('C++', 'Python')

'Python is easy to learn'

In [205]:
### using Split function ###
'Python is easy to learn'.split()

['Python', 'is', 'easy', 'to', 'learn']

In [206]:
'Python is easy to learn'.split('easy')

['Python is ', ' to learn']

<a id='14'></a><center> <h3 style="background-color:orange; color:white" ><br>Functions<br></h3>

* `Purpose of functions is to group some particular lines of code that needs to be executed multiple times`
    * keyword `def` introduces a function definition and it must be followed by function name
* Function is Reusable piece of code
* We create function to solve specific problem

In [216]:
"""
def function_name():
    stetement(s)
"""

'\ndef function_name():\n    stetement(s)\n'

In [230]:
# define a function
def welcome_message(name):
  return (name+ "Welcome to Python Functions!!")

In [231]:
# call a function with Mukesh and input
welcome_message('Lalli')

'LalliWelcome to Python Functions!!'

In [214]:
#obseve the output
print(welcome_message.__doc__)

    This is to represent docstring,
    optionsl documentation is a good
    programming practice

In [215]:
#obseve the output
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

* `def` Keyword marking start of function
* `function name` to uniquely identify function
    * `function naming` follows same `rules of writing identifiers`
* `parameters`(arguments) to pass values to a function => totally optional
* `()` paranthesis
* `colon (:)` start of function
* `documentation string`(docstring) describe's what function does => totally optional
* `return statement` returns a value from function => totally optional
* inside colon is `function definition` it should always be present before function call or get an error

# `Type of Functions`
|Built-in|User-Defined|Lambda Functions|Recursion Function
|----|----|---|---|
|`print()` | `add_two_number(defined by user i.e. you)`|``|``|
|`range()` | ``|``|``|
| `append()`|`` |``|``|
| `extend()`|`` |``|``|

In [223]:
### using print ###
# function to add two number which are as 3 and 4
def two_number_addition():
 # in total variable store adition of 3 + 4
 total= 3 + 4
  # print total variable
 print(total)

In [224]:
### using return ###
def two_number_addition_with_return():
    total = 3 + 4
    return (total) #returning value of total
# observe output

In [225]:
print_output = two_number_addition()

7

In [226]:
# see this variable cannot store above value as value was not saved
print_output

See above variable cannot store above value as return was not used in fucntion, so every calculation is being done inside the function two_number_addition() and if you come out of function thouse value do not exist, to solv this problem we use `return`, after using return we can store output of function for other use in our program

In [227]:
return_output = two_number_addition_with_return()

In [228]:
# as return was used in two_number_addition_with_return() function so we can take out value
return_output

7

Here in above code value to funtion is being returned and we are saving that returned value to a variable return_output for maybee any other further use.

# **`Passing Parameters to function`**

In [232]:
# defining a function
def welcome_message(name):
    return 'Welcome to Python Funcions!! ' + name

# calling function in python with name Akash
welcome_message('Lalli')

'Welcome to Python Funcions!! Lalli'

In [233]:
# reusing above function (see it as a login windo of a website)
welcome_message('Krishna')

'Welcome to Python Funcions!! Krishna'

# ***`Passing Default Parameter value to function`*** <br>
Works in case you dont provide any value to the required parameter
* This is good practice to provide default value to a parameter
    * As it reduces many errors

In [234]:
def welcome_message(name='Learner'):
    return 'Welcome to Python Funcions!! ' + name

# calling function in python
welcome_message('Akash')

'Welcome to Python Funcions!! Akash'

In [235]:
# not providing parameter value, now it will take default one i.e. Learner
welcome_message()

'Welcome to Python Funcions!! Learner'

# ***`Positional Arguments`***
Most arguments are identified by their position in function call
* Say `print(x,y)` will give different results from `print(y,x)`

What ever sequence is given while defining a function values must be taken in that sequence only
* Otherwise use argument name **`(keyword arguments)`** to take values
* We first define `positional argument` and then `keyword arguments`

In [236]:
#### Observe every output from here onwords #####

def substraction_function(small_number,large_number):
    difference = large_number - small_number
    return difference

In [237]:
# passing arguments in right order
substraction_function(7,84)

77

In [238]:
# passing arguments in wrong order (produces negative result)
substraction_function(84,7)

-77

In [239]:
# always pass arguments using there name(keyword arguments) then order does not matter
substraction_function(large_number=84,small_number=7)

77

In [240]:
# defining positional argument and then keyword arguments => valid in python
substraction_function(7,large_number=84)

77

In [242]:
substraction_function(large_number=84, small_number=7)

77

# ***`Variable Length Arguments`***
Used when we need more flexibility while defining functions like we don't know in advance fixed number of arguments
* Python allows us to make function calls with variable length arguments
* In argument use an **(*)** astrick sign before argument

In [243]:
##### Observe code from here ######

# defining a randome function using (*args)
def arguments_function(*args):  # => used for positional arguments will variable lengths
    for i in args:
        print(i)

In [244]:
# passing n-number of positional arguments to fucntion as we are using (*args)
arguments_function(1,2,3,4,5)

1
2
3
4
5

* Everything given to function if it is using *args, arguments will be saved as `tuples`

In [245]:
#### Observe every output from here onwords #####
# defining a randome function using (**kwargs)

def keyword_arguments_function(**kwargs): # => used for keyword arguments will variable lengths
    for key,value in kwargs.items():
        print(key,value)

In [246]:
# passing n-number of keyword arguments to fucntion as we are using (*args)
keyword_arguments_function(a=1,b=2,c=3,d=4,e=5)

a 1
b 2
c 3
d 4
e 5

* Everything given to function if it is using *kwargs, arguments will be saved as `dict`

# ***`Scope of Variables`*** means that part of program where we can access particular variable
* `Local Variable` => variables defined inside a function and can be only accessed from inside of that particular function
* `Global Variable` => variables defined outside a function and can be accessed throughout program

Let's define a global variable, `"global_variable"` outside function
* We will return its value using a function `"randome_function"` and see that we would be able to access its value using that function also

In [247]:
#### Observe every output from here onwords #####
# defining a global variable
global_variable = 'variable outside of function'

# defining function
def random_function():
    # accessing variable which is outside of this function
    return global_variable

In [248]:
random_function()

'variable outside of function'

`See we can acess the data of golbal variable from Inside of the Function`

# **`=> Let's see what will happen if we try to change value of global variable from Inside of the Function`**

In [249]:
#### Observe every output from here onwords #####
# defining a global variable
global_variable = 'variable outside of function'

# defining function
def random_function():
    # changing value of global variable from inside of the function
    global_variable = 'changing variable outside of function from inside of function'
    # accessing variable which is outside of this function
    return global_variable

In [250]:
print(random_function())
print(global_variable)

changing variable outside of function from inside of function
variable outside of function

It does not mean that we can change global variable from inside the function but this is somthing different story going on here:
* function named as random_function()'s, global_variable have limited scope which is only of inside its function, that is why when we print function it returns the local variable value not the changed global variable value
* variable defined locally is taking precedence over variable defined globally as there name are same

The only shortcomming with local variable is it stayes inside the function, the minute you come out of function you dont get the updated value <br>
So in above code we are not abble to change global variable locally, but we have made a new variable which is only working inside of the function. <br>
Approach we shoudl follow is given bellow:

# **`Updating value of global variable from inside of any user_defined function using  Global Keyword`** <br>
`global` keyword tells program that there is no need to make a new variable locally but the variable we are using locally is a global variable, which has benn defined

In [251]:
#### Observe every output from here onwords #####
# defining a global variable
global_variable = 'variable outside of function'

# defining function
def random_function():
    # telling function which variables is/are global
    global global_variable
    # changing value of global variable from inside of the function
    global_variable = 'changing variable outside of function from inside of function'
    # accessing variable which is outside of this function
    return global_variable

In [252]:
print(random_function())
print(global_variable)

changing variable outside of function from inside of function
changing variable outside of function from inside of function

<a id='15'></a><center> <h3 style="background-color:orange; color:white" ><br>Lambda Expressions<br></h3>

`Lambda function can have any number of arguments but only one expression, which is evaluated and returned`
* `Lambda Functions` are syntactically restricted to a single expression
* More efficient than function when task of  function is small
* Do not use Lambda functions when task is complex
* It works best when you have to call a function more of times but execution task is simple

`Write a regular function instead of a lambda when function is to be used multiple times`
* `Key`= Lambda must be used once
* Lambdas are supposed to be used for just once and thus there is no reason to assign a lambda to a variable.
* Major reason for avoiding assigning a lambda to a variable is for debugging/maintainability purposes, especially in a production/teamwork environment


* Use of function is good choice when assignment of variable is compulsary
* While debugging if any error accurs it will point out to the function creating error
* In case of lambda function it will throw `lambda error` and ther can be many lambda in out code which makes is difficult to debug error

In [253]:
# define a function that adds 100 to number that is passed as an argument
def add_100(z):
   return z+100
add_100(1)

101

In [254]:
# lambda function named as increaseBy_100 that adds 100 to number that is passed as an argument
increaseBy_100=lambda z:z+100
# print value for increaseBy_100(1), using f string
# print value for increaseBy_100(22), using f string
print(f'values of 1: {increaseBy_100(1)}')
print(f'values of 22: {increaseBy_100(22)}')

values of 1: 101
values of 22: 122

# **`Lambda function with two arguments`**

In [255]:
# write a lambda fucntion named as subtract_two_number which can take any two number as input and subtract thouse two number
subtract_two_number =lambda z,y:z-y
subtract_two_number(4,5)

-1

# ***`filter() function`*** takes in a function and a list as arguments <br>
`It filters out all elements of a sequence, for which function returns True`

In [256]:
#### Observe every output from here onwords #####
# function to check if given number is even
def divisible_two(x):
    if x%2 == 0:
        return True #odd
    else:
        return False #not odd

# given list to filter for odd number
check_list = [4,8,0,11,456,777,999,777]

In [257]:
#### Observe every output from here onwords #####
odd_number_filtered_list = list(filter(divisible_two,check_list))
odd_number_filtered_list

[4, 8, 0, 456]

In [258]:
# writing lambda function for above code (we need not to define function sepratly)
odd_number_filtered_list_using_lambda = list(filter(lambda x:(x%2==0),check_list))
odd_number_filtered_list_using_lambda

[4, 8, 0, 456]

How easy lamda can make our task now understand

# ***`map() function`*** takes in a function and a list as argument
* Function is called with a lambda function and a list
* A new list is returned which contains all lambda modified items returned by that function for each item

In [259]:
#### Observe every output from here onwords #####
check_list = [4,8,0,11,456,777,999,777]

#increse every element of check_list by 4
mapped_check_list = list(map(lambda x:x*4,check_list ))
mapped_check_list

[16, 32, 0, 44, 1824, 3108, 3996, 3108]

In [260]:
#### Observe every output from here onwords #####
check_list = ['north','see','king','himalayas','east']
# capatilize first letter of each  word in the original list
mapped_check_list = list(map(lambda x: x[0].upper()+x[1:],check_list))
mapped_check_list

['North', 'See', 'King', 'Himalayas', 'East']

# **`reduce() Function`** takes in a function and a list as argument
* The function is called with a lambda function and a list
* A new reduced result is returned
* This performs a repetitive operation over pairs of list

`Reduce Function will always take two parameters`

In [261]:
#### Observe every output from here onwords #####
#importing reduce using functools
from functools import reduce
check_list = [4,8,0,11,456,777,999,777]
#using reduce function to find sum of numbers in check_list
sum_of_list = reduce((lambda x, y : x + y),check_list)
sum_of_list

3032

In [262]:
#### Observe every output from here onwords #####
check_list = [4,8,0,11,456,777,999,777]
#using reduce function to find largest number in check_list
largest_number = reduce((lambda x, y: x if (x > y) else y ),check_list)
largest_number

999

<a id='16'></a><center> <h3 style="background-color:orange; color:white" ><br>Comprehensions<br></h3>

#### **BELOW CODE IS GIVEN FOR YOU TO OBSERVE HOW COMPREHENSIONS WORK.**

# **`Type of Comprehensions`**:
1. `List Comprehension`
2. `Set Comprehension`
3. `Dict Comprehension`

# 1. List Comprehension
`Syntex:`

**[expression for item in iterable]**


**Expanded Form**<br>
for item in iterable: <br>
....expression

**`Converet all element of below tuple in upper case and change datatype into list`**

In [263]:
animals = ('bird', 'snake', 'dog', 'turtle', 'cat', 'hamster')
type(animals)

tuple

In [264]:
# good => way using list comprehension

[x.upper()for x in animals]

['BIRD', 'SNAKE', 'DOG', 'TURTLE', 'CAT', 'HAMSTER']

In [265]:
# Not Good way => using list comprehension
animalss = []
for x in animals:
    animalss.append(x.upper())
animalss

['BIRD', 'SNAKE', 'DOG', 'TURTLE', 'CAT', 'HAMSTER']

# List Comprehension for Conditional statement or For Filtering</b>

`Syntex:`

**[expression `for` item in iterable `if` some_condition]**

`Expended Form:`

`for` item in iterable:
<br>___    `if` some_condition:
<br>________        expression

In [266]:
#find the prime number and square them

primes = [2,3,4,5,6,8,7,9]

In [267]:
# good
[x*x for x in primes if x%2 == 0]

[4, 16, 36, 64]

In [268]:
# not good
ls = []
for x in primes:
    if x % 2 == 0:
        ls.append(x*x)
ls

[4, 16, 36, 64]

**`For more complex conditions we can use function along with`**

In [269]:
#find from below given animal which have 4 leags

animals = ('bird','snake','dog','turtle','cat','hamster')

In [270]:
# good
def has_4_legs(animal):
    return animal in ('dog','turtle','cat')

[x for x in animals if has_4_legs(x)]

['dog', 'turtle', 'cat']

In [271]:
# not good
l = []
for x in animals:
    if has_4_legs(x):
        l.append(x)
l

['dog', 'turtle', 'cat']

# 2. Set Comprehension
* Set have unique element
* Only use curly bracket then that of square bracket

`Syntax:`

**{expression `for` item in iterable}**

In [272]:
# find odds
numbers_set = (1, 34, 5, 8, 10, 12, 3, 90, 70, 70, 90)

unique_even_numbers = {number for number in numbers_set if number%2 == 0}
unique_even_numbers

{8, 10, 12, 34, 70, 90}

# 3. Dict Comprehension
`Syntax:`

**{key_expression : value_expression `for` item in iterable}**

In [273]:
words = ('python', 'is', 'a', 'big', 'snake')

len_words = {word : len(word) for word in words}
len_words

{'python': 6, 'is': 2, 'a': 1, 'big': 3, 'snake': 5}

In [274]:
# acessing key which start with p letter
len_words_p = {word : len(word) for word in words if word.startswith('p')}
len_words_p

{'python': 6}

<a id='17'></a><center> <h3 style="background-color:orange; color:white" ><br>Enumerate<br></h3>

Used for efficient looping
* Use enumerate function when `needed an index` while looping
* Often used in list comprehensions or for loops and does not spit out tuples itself
* Enumerate is an `iterator`, this means ``nothing gets stored``
* Processes only one item at a time
* This can be useful when you have large datasets/files.

`Syntax:` <br>
**enumerate(iterable, start)**
**<br>_____start = starting index**
* `Returns a tuple of type (index,values)`

Whenever you see within your code `range(len(..))` there is a better way to loop than through using an index
* This is where built-in function `Enumerate` can help

# Enumerate Working
* Enumerate built-in function assigns an index to every item in an itterable object
* This could be a set, list, string anything that can be iterated over

In [275]:
colors = ['red','green','blue','purple']
print(enumerate(colors))

<enumerate object at 0x7aaf6b454580>

In [276]:
#enumerate gives us index which starts from 0
for index,start in enumerate(colors):
    print(index,start)

0 red
1 green
2 blue
3 purple

In [277]:
# index starting from 1 maybee
for index,start in enumerate(colors,start=1):
    print(index,start)

1 red
2 green
3 blue
4 purple

In above code we define variables index and item and they get assigned to first and second items of each tuple
* This is called `sequence unpacking`
* We then print index and item of items object

In [278]:
# using Enumerate to skip over one index
for index,start in enumerate(colors,start=1):
    if index == 3: # skipping index 3
        continue
    print(index,start)

1 red
2 green
4 purple


# FeedBack
We hope youâ€™ve enjoyed this course so far. Weâ€™re committed to help you use "AI for All" course to its full potential, so that you have a great learning experience. And thatâ€™s why we need your help in form of a feedback here.

Please fill this feedback form https://docs.google.com/forms/d/e/1FAIpQLSfjBmH0yJSSA34IhSVx4h2eDMgOAeG4Dk-yHid__NMTk3Hq5g/viewform